/* Affects entire document */
html {
    scroll-behavior: smooth;
}

/* Body */
body {
    margin: 0%;
        opacity: 1;
        transition: 3s opacity;
    letter-spacing: .2vw;
    font-family: Avant Garde, Hevetica;
    font-size: 1.5vw;
}

body.fade-out {
    opacity: .1;
    transition: none;
}

/* Navbar */
.Navbar {
    overflow: hidden;
    background-color: darkblue;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
        position: fixed;
    -webkit-animation: moveNav 5s;
        animation: movNav 5s;
}

/* Navbar text */
.Navbar a {
    float: left;
    display: block;
    color: limegreen;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: fantasy;
    font-size: 1.5vw;
    text-align: center;
        position: relative;
    -webkit-animation: movenavText 5.75s;
        animation: movenavText 5.75s;
    letter-spacing: .2vw;
}

@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

@keyframes movenavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

@keyframes movevideoText {
    from {top: -100vw;}
    to {top: 0px;}
}

/* Nabar hover effect */
.Navbar a:hover {
    background-color: darkmagenta;
    color: cyan;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

/* Navbar home button */
.Navbar a.active {
    background-color: limegreen;
    color: darkblue;
}

.Navbar a.active:hover {
    background-color: cyan;
    color: darkmagenta;
}

/* Video */
/* Video animation */
@keyframes xoominoutsinglefeatured {
    0% {
        transform: scale(1.5,1.5);
    }
    100% {
        transform: scale(1,1);
    }
}

#Typing_Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
    min-height: auto;
    animation: zoominoutsinglefeatured 5s;
}

/* Text over the video */
.Video_Text {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding-top: .1vh;
    padding-bottom: 1vh;
    margin-top: 23%;
        position: relative;
    -webkit-animation: moveNav 4s;
        animation: movevideoText 4s;
}

.intro {
    color: cyan;
    text-align: center;
    min-height: auto;
    overflow: auto;
}

/* Slideshow */
#Slideshow_Background {
    background-color: rgba(255,255,255, 0.35);
}

.mySlides {
    display: none;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from { opacity: .4}
    to {opacity: 1}
}

#Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

.Slide_Show_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: auto;
}

.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -0vw;
    color: cyan;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: darkmagenta;
}

.text {
    color: cyan;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0,0,0,0.75);
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
}

.Slide_Number {
    color: cyan;
    position: absolute;
    top: 0;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    font: bold;
    display: none;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: cyan;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 1;
}

.active, .dot:hover {
    background-color: darkmagenta;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Table */
* {
    box-sizing: border-box;
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 448px;
    background-color: grey;

}

.Column_2{
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 448px;
    background-color: darkcyan;
}

.Row:after{
    content: "";
    display: table;
    clear: both;
}

/* Heading 1 elements */
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    margin-top: 3%;
    color: darkmagenta;
}

/* Paragraph elements */
p {
    font-family: Perpetua, Rockweel Extra Bold;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

/* Center aling elements */
center {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: center;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

/* Anchor elements */
a {
    color: blue;
}

/* Quatation elements */
q {
    font-style: italic;
    font-weight: bold;
}

/* Image elements */
img {
    filter: grayscale(75%);
        border-radius: 8px;
        max-width: 100%;
    height: 100px;
        margin: auto auto auto auto;
    display: block;
}

.imgfix {
    max-width: 100%;
    height: 100%;
}

.imgfix-giferror {
    max-width: 100%;
    height: 100%;
    margin-top: 5 !important;
}

/* img hover */
center:hover {
    transition: transform 2s;
    transform: scale(1.1)
}

p:hover {
    color: white;
        transition: transform 1s;
    transform: scale(1.01);
}

h1:hover {
    color: white;
    font-weight: normal;
}

img:hover {
    filter: grayscale(5%);
        transition: transform 1s;
    transform: scale(1.1);
}

@keyframes movePopup {
    from {right: -40vw;}
    to {bottom: 1.75vw;}
}

/* Contact buttons */
.Pop_Up_Button {
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: darkblue;
    color: limegreen;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

.form-popup {
    border: 3px solid darkblue;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

.form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: darkblue;
    color: cyan;
}

/* input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: cadetblue;
    font-family: Helvetica, Avant Garde;
    font-size: 1vw;
}

/* submit button */
.form-container .btn {
    background-color: cadetblue;
    color: limegreen;
    margin-bottom: 1vw;
}

/* close button */
.form-container .cancel {
    background-color: black;
    color: white;
    background-color: gray;
}

/* button styling */
button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw 1.5vw;
    border-style: solid limegreen;
    cursor: pointer;
    width: 100%;
    height: auto;
}

/* button hover */
button:hover, .form-container .btn:hover {
    color: cyan;
    background-color: darkmagenta;
    -webkit-animation-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: limegreen;
}

.form-container .cancel:hover {
    color: tomato;
    background-color: darkred;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: limegreen;
}

/* footer */
footer {
    padding: 2%;
    background-color: darkblue;
}

#toplink {
    display: flex;
    float: left;
}

/* stack imgs */
.imgcolumn {
    float: right;
    width: 50%;
    padding: 15px;
    
  }
  
  .imgrow::after {
    display: flex;
    padding: 15px;
  }

.

/* img modal */
/* Style the Image Used to Trigger the Modal */
#imgpopup {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #imgpopup:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    height: 90%;
    max-width: 80%;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: darkblue;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }